*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
    
}

body{
    background-color: #5c1677;
    font-family: 'Permanent Marker', cursive;
}


.homePage{
    display: flex ;
    flex-direction: row;
    justify-content: center;
}

.title {
    color: #0a0a0a;
    font-style: italic;
    text-transform: uppercase;
    width: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.Login{
    border: none;
    background-color: white;
    color:black;
    border-radius: 15px;
    height: 340px;
    width: 500px;
    margin-right: 250px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageLogin{
    display: flex;
    flex-direction: row;
}

.Login form input{
    width: 100%;
    border-radius: 5px;
    border-color:#811481;
    margin: 10px 10px ;
    display: flex;
    flex-direction: column;
    padding: 16px 20px ;
    margin: 8px 0;
}

.check{
    color:black;
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
    width: 110px;
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
}


.check input{  
    margin-right:-20px !important;
    height: 20px;
    cursor: pointer;
}


.check p{
    display: flex;
    flex-direction: row-reverse;
    margin:auto ;
    flex-basis: 1000px;
   
}

.Login form button {
    font-family: 'Permanent Marker', cursive;
    margin-top: 10px;
    margin-left: 300px ;
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;
    background-color: #0a0a0a; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
}

.Login form button:hover {
    background-color: rgb(143, 143, 143);
    color: white;
}
